.row-center-flow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    font-size: 0.75rem;
    color: var(--ion-color-danger)
}

.lbl{
    color: var(--ion-color-primary);
    width: 70px;
}

.summary{
    color: var(--ion-color-primary);
    font-size: 1rem;
}

.order-summary{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}