<ion-card *ngIf="cartItem != null" class="card-container">
  <ion-item class="row-flow" lines="none">
    <div slot="start" class="image-style" [style.backgroundImage]="'url('+ cartItem.item.image + ')'"></div>
    <div class="column-flow">
      <div class="header">{{cartItem.item.name}}</div>
      <div class="unit">{{cartItem.item.unitVal}} {{cartItem.item.unit}}</div>
      <div *ngIf="cartItem.item.price" class="price">
        <div *ngIf="cartItem.item.actualprice && cartItem.item.actualprice>0" class="actualPrice">{{cartItem.item?.actualprice | currency}}</div>
        <div [style.marginTop]="(cartItem.item.actualprice && cartItem.item.actualprice>0)?'0px':'10px'">{{cartItem.item?.price | currency}}</div>
      </div>
    </div>
    <div class="column-center-flow qty"  slot="end" >
        <ion-text class="unit">Quantity</ion-text>
        <app-item-quantity [qty]="quantity" [increment]="cartItem?.item?.qty?.increment" [initialQty]="cartItem?.item?.qty?.initialQty" (updateQty)="updateQuantity($event)"></app-item-quantity> 
        <span class="totalPrice">
          <ion-text *ngIf="cartItem.price > 0">Total: {{cartItem.price | currency}}</ion-text>
        </span>
    </div>
    <ion-icon *ngIf="quantity>0" class="selected" [ios]="'trash-outline'" [md]="'trash-sharp'" color="danger" size="small" (click)="deleteItemFromCart()"></ion-icon>
  </ion-item>
</ion-card>