.row-flow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column-flow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.column-right-flow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.column-center-flow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.qty-container{
    padding-top: 20px;
}

.unit{
    margin-left: 5px;
    font-size: 0.9rem;
    color: var(--ion-color-info);
}

.item-image{
    background-color: pink;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.price{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: var(--ion-color-info);
}

.totalPrice{
    height: 20px;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--ion-color-primary);
}

.quantity-label{
    margin-left: 30px;
}

.actualPrice{
    color: var(--ion-color-medium);
    text-decoration-line: line-through;
    margin: 0px 7px;
}

.savePrice{
    color: var(--ion-color-success);
}