<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'" color="primary" style="font-size: 2rem;"></ion-icon>
    </ion-buttons>
    <app-name></app-name>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card >
    <ion-card-header style="padding: 0;margin:0;">
      <div class="item-image" [style.backgroundImage]="'url('+imagePrefix+item.image+')'"></div>
      <br>
      <div style="margin: 10px 25px;" class="column-flow">
        <ion-card-title color="primary">{{item.name}}</ion-card-title>
        <ion-text *ngIf="item.unit">{{item.unitVal}} {{item.unit}}</ion-text>
        <ion-text *ngIf="item.price" class="price">
          <span>{{item.price | currency}}</span>
          <span *ngIf="item.actualprice && item.actualprice>0" class="actualPrice">{{item.actualprice | currency}}</span>
          <span *ngIf="item.actualprice && item.actualprice>0" class="savePrice">Save: {{ savePrice | currency }}</span>
        </ion-text>
        <ion-text *ngIf="item.desc" class="">{{ item.desc }}</ion-text>
      </div>
    </ion-card-header>
  
    <ion-card-content style="margin:5px;" class="column-right-flow">

      <span class="column-flow qty-container">
        <ion-text class="quantity-label">Quantity</ion-text>
        <app-item-quantity [qty]="qty" [increment]="item?.qty_increment" [initialQty]="item?.qty_initialQty" (updateQty)="updateQuantity($event)"></app-item-quantity> 
      </span>
      <ion-text class="totalPrice">Total: {{totalPrice | currency}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-check-out-footer></app-check-out-footer>




