<ion-searchbar slot="fixed" [formControl]="itemSearchTxt" showCancelButton="focus" placeholder="Search products" class="searchBar"></ion-searchbar>
<ng-container *ngIf="items == null">
    <app-home-slider></app-home-slider>
    <app-item-horizontal-listing [items]="topProducts"></app-item-horizontal-listing>
    <div class="banner">
        <ion-text class="banner-text">Discounts upto 20% on Products</ion-text>
    </div>
    <app-item-horizontal-listing [items]="dealProducts"></app-item-horizontal-listing>
    <app-banner></app-banner>
    <app-category-item-listing [categories]="categoryList" style="padding-top: 20px !important"></app-category-item-listing>
</ng-container>
<ion-content *ngIf="items != null" [fullscreen]="true" [forceOverscroll]="true" class="search-content">
    <app-search-item [items]="items"></app-search-item>
</ion-content>