<ion-card class="card-container">
  <ion-item class="row-flow" lines="none">
    <div slot="start" class="image-style" [style.backgroundImage]="'url('+item.image+')'">
      <ion-icon *ngIf="qty>0" class="selected" [ios]="'checkmark-circle-outline'" [md]="'checkmark-circle-sharp'" color="success"></ion-icon>
    </div>
    <div class="column-flow">
      <div class="header">{{item.name}}</div>
      <div class="unit">{{item.unitVal}} {{item.unit}}</div>
      <div *ngIf="item.price" class="price">
        <div *ngIf="item.actualprice && item.actualprice>0" class="actualPrice">{{item.actualprice | currency}}</div>
        <div [style.marginTop]="(item.actualprice && item.actualprice>0)?'0px':'10px'">{{item.price | currency}}</div>
      </div>
    </div>
    <div class="column-center-flow qty"  slot="end" >
        <ion-text class="unit">Quantity</ion-text>
        <app-item-quantity [qty]="qty" [increment]="item?.qty?.increment" [initialQty]="item?.qty?.initialQty" (updateQty)="updateQuantity($event)"></app-item-quantity> 
        <span class="totalPrice">
          <ion-text *ngIf="totalPrice > 0">Total: {{totalPrice | currency}}</ion-text>
        </span>
    </div>
  </ion-item>
</ion-card>