<ion-card class="card-style" (click)="navigateToDetails()">
  <div class="image-style" [style.backgroundImage]="'url('+item.image+')'"></div>

  <ion-card-content class="content-style">
    <div class="main-content-style">
      <div class="column-flow">
        <div class="header">{{item.name}}</div>
        <div class="unit">{{item.unitVal}} {{item.unit}}</div>
      </div>
      <div *ngIf="item.price" class="price">
        <span *ngIf="item.actualprice && item.actualprice>0" class="actualPrice">{{item.actualprice | currency}}</span>
        <span>{{item.price | currency}}</span>
      </div>
    </div>
  </ion-card-content>
    
</ion-card>