.card-style{
    padding: 0px; 
    width: 150px !important; 
    height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.image-style{
    height: 150px;
    background-color: pink;
    background-size: cover;
}

.main-content-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.header{
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--ion-color-primary);
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
}

.price{
    font-size: 0.8rem;
    color: var(--ion-color-info);
}
