.card-style{
    padding: 0px; 
    width: 150px !important; 
    height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-flow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.column-flow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    position: absolute;
    left: 10px;
    top: 10px;
}

.image-style{
    height: 150px;
    background-color: pink;
    background-size: cover;
    background-position: center;
}

.main-content-style{
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.header{
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--ion-color-primary);
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
}

.price{
    color: var(--ion-color-dark);
    position: absolute;
    font-size: 0.8rem;
    bottom: 0px;
    right: 10px;
}

.unit{
    font-size: 0.75rem;
    color: var(--ion-color-info);
}

.actualPrice{
    color: var(--ion-color-medium);
    text-decoration-line: line-through;
    margin: 0px 7px;
}