<ion-header [translucent]="true">
  <ion-toolbar>
    <app-name></app-name>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card >
    <ion-card-header>
      <ion-card-title>Thank You!</ion-card-title>
    </ion-card-header>

    <ion-card-content class="center-flow">
      Hope you were able to send order via Whatsapp. We appreciate your engagement with Kera Bazaar.
    </ion-card-content>

    <ion-card-content class="center-flow">
      <ion-button fill="outline" (click)="home()">Continue Shopping</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>





