.row-center-flow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    font-size: 0.75rem;
    color: var(--ion-color-danger)
}

.lbl{
    color: var(--ion-color-primary);
    width: 70px;
}

.subtitle{
    color: var(--ion-color-medium);
    font-size: 0.8rem;
}