.row-center-flow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.error{
    font-size: 0.75rem;
    color: var(--ion-color-danger)
}

.lbl{
    color: var(--ion-color-primary);
    width: 70px;
}

.subtitle{
    color: var(--ion-color-medium);
    font-size: 0.8rem;
}

.aipeel{
    font-size: 0.7em;
    color: var(--ion-color-medium);
    padding: 0px 10px;
}

.center-flow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}