  <ion-slides pager="true" #mySlider [options]="slideOpts"  (ionSlidesDidLoad)="slidesDidLoad(mySlider)">

    <ion-slide>
      <div class="slider-image-full top-start" style="background-position: 23% 30%;background-image: url('./assets/slides/fresh1.jpg')">
        <div class="text" style="font-size:1.2em; color: white; font-weight: bold; text-align: center;line-height: 1.4em; background-color: rgba(46, 49, 49, 0.5); width:100%">Fresh Products</div>
      </div>
    </ion-slide> 

    <ion-slide>
      <div class="slider-image-full top-start" style="background-position: center;background-image: url('./assets/slides/boat.jpg')">
        <div class="text" style="font-size:1.2em; color: white; font-weight: bold; text-align: center;line-height: 1.4em; background-color: rgba(46, 49, 49, 0.9); width:100%">Free delivery</div>
      </div>
    </ion-slide> 

    <ion-slide>
      <div class="slider-image-full top-start" style="background-position: center;background-image: url('./assets/slides/nadan.jpg')">
          <div class="text" style="font-size:1.2em; color: white; font-weight: bold; text-align: center;line-height: 1.4em; background-color: rgba(46, 49, 49, 0.5); width:100%">Huge Savings</div>
      </div>
    </ion-slide> 
  </ion-slides>