<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'" color="primary" style="font-size: 2rem;"></ion-icon>
    </ion-buttons>
    <ion-title>{{appName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card >
    <ion-card-header style="padding: 0;margin:0;">
      <div class="item-image" [style.backgroundImage]="'url('+item.image+')'"></div>
      <br>
      <div style="margin:25px;">
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-text *ngIf="item.price" class="price">{{item.price | currency}} per {{item.unit? item.unit: 'unit'}}</ion-text>
      </div>
    </ion-card-header>
  
    <ion-card-content style="margin:10px;">
      {{ item.desc }}
      <span class="row-flow qty-container">
        <app-item-quantity [qty]="item.quantity" [increment]="item?.qty?.increment" [initialQty]="item?.qty?.initialQty" (updateQty)="updateQuantity($event)"></app-item-quantity> 
        <ion-text class="unit">{{item.unit}}</ion-text>
      </span>
      <br>
      <ion-text class="totalPrice">Total Price: {{totalPrice | currency}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>



